*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;

    color: rgb(185, 182, 182);
    background-color: #181A1F;
    text-rendering: optimizeLegibility;
    
    position: relative;
 
    /* mac dinh la 16px */
}
header {
    background-image:linear-gradient(45deg,rgba(36, 39, 46, 0.28) 75%,rgba(36, 39, 46, 0.28)), url("/img/bgr2.png");
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
  }
  .top_menu{
    background:rgba(36, 39, 46, 0.86);
    width: 100%;
    height:auto;
    display: flex;
}
.menu li{
    display: inline-block;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu li a{
    text-decoration: none;
    color: aliceblue;
    font-size: 15px;
    margin-left: 0px;
}
.menu{
    margin-left:30%;
    width: 100%;
}
.menu_item{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    padding: 25px;
    border-bottom: 3px solid rgb(190, 190, 190);
    transition: 0.5s;
    margin-left: 0px;
}
.menu_item:hover{
    border-bottom: 3px solid #FF1D6A;
}
.infor_link{
    clear: both;
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    background-color: rgb(255, 255, 255);
}
.infor{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    border: 1px solid rgb(255, 108, 44);
    border-bottom: none;
    border-left: none;
}
.getstarted{
    width: 50%;
    background-color: #292F39;
    position: absolute;
    top: 50%;
    right: 0px;
    transform: translateY(-50%);
    padding: 60px 50px;
    background-color: #292F39;
}
.getstarted a{
    text-decoration: none;
    color: #FFFFFF;
    padding: 2%;

}
.btn1{
    margin-top: 60%;
    background-color: #FF1D6A;
    margin-right: 2%;
}
.offer{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    margin-top: 84vh;
}
.offer1{
    width: 70%;
    background-image: linear-gradient(45deg,rgba(95, 196, 180, 0.75) 75%,rgba(95,196,180,0.75)), url("/img/bgr3.png");
    background-size: cover;
    padding: 0px;
    margin-left: 50%;
    padding: 5%;}
.offer2{
    width: 70%;
    background-image: linear-gradient(45deg,rgba(148, 91, 159, 0.75) 75%,rgba(148, 91, 159, 0.75)), url("/img/bgr4.png");
    background-size: cover;
    padding: 5%;
    margin-left: 30%;
}
.offer3{
    width: 70%;
    background-image: linear-gradient(45deg,rgba(142, 204, 59, 0.75) 75%,rgba(142, 204, 59, 0.75)), url("/img/bgr5.png");
    background-size: cover;
    padding: 3%;
    margin-left: 10%;
}
.btn99{
    background-color:#FF1D6A ;
    padding: 5px;
    color: #FFFFFF;
}
.welcom{
    position: relative;
    padding: 10% 10%;
    display: grid;
    grid-template-columns: 50% 50%;
}
.img_grid{
    display: grid;
    grid-template-columns: auto auto auto;
}
.our_clasess{
    text-align: center;
}
.our_clasess_gird{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
}
.item_clasess{
    grid-column: span 1-of-3;
    position: relative;
}
.txt_item_clasess{
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: medium;
    position: absolute;
    top: 85%;
    left: 0%;
    background-color: rgba(53, 50, 50, 0.5);
    padding-top:4% ;
    display: grid;

}
.txt_item_clasess a{
    text-decoration: none;
    font-size: medium;
    color: #FFFFFF;
}
.our_trainer{
    padding-top: 60px;
    background-color: #24272E;
    
}
.our_trainer_grid{
    display: grid;
    grid-template-columns: 40% 60%;
}
.trainer_grid_txt{
    padding: 15%;
    margin-left: 15%;
}
#slider_2 .owl-item.active{
    width: auto;
    height: 100%;
    transform: scale(1);
    opacity: 0.4;
    border: 1px #FF6C2C;
    top: 25px;
    height: 400px;
}
#slider_2 .owl-item.active.center {
    /* height: 400px !important;*/
     transform: scale(1.2,1.2);
     opacity: 1;
     border: 1px #FF6C2C;
     overflow: hidden;
     box-shadow: 3px 3px 4px 4px #FF6C2C;
     height: 100%;
     width: 100%;
 }
 #slider_2 .owl-nav button.owl-prev{
     position: relative;
     margin-left: -3%;
     top: -250px;
 }
 #slider_2 .owl-nav button.owl-next{
     position: relative;
     margin-left: 70%;
     top: -250px;
 }
 #slider_3{
     margin-top: 5%;
 }
 #slider_3 .owl-nav button.owl-prev{
    position: relative;
    margin-left: 2%;
   
}
#slider_3 .owl-nav button.owl-next{
    position: relative;
    margin-left: 35%;
}
.testmonials{
    padding-bottom: 5%;
    background-color: #181A1F;
}
.recent_blog{
    background-color: #24272E;
}
.blog{
    display: grid;
    grid-template-columns: 33% 60%;
    padding: 5% 10%;
}
.blog_1_1{
    background: #13191A;
    margin-right: 2%;
    margin-left: 2%;
    padding: 3%;
}
.blog_1_2{
    background: #13191A;
    margin: 2%;
    margin-top: 4%;
    padding: 3%;
}
.blog_2_1{
    background-color:  #13191A;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
}
.icon_blog{
    display:inline-flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
}
.contract{
    background-image: linear-gradient(45deg,rgba(25, 27, 32, 0.9) 55%,rgba(25, 27, 32, 0.9)), url("/img/Component\ 1\ –\ 12.png");
    padding: 3%;
}
input[type=email]{
    padding: 5px 5px;
    background: none;
    border: 2px solid rgb(245, 105, 11);
    width: 20%;
    margin-left: 30%;
    
}
select{
    padding: 5px 5px;
    background: none;
    border: 2px solid rgb(245, 105, 11);
    width: 20%;
}
input[type=text]{
    margin-left: 30%;
    margin-top: 2%;
    padding: 5px 5px;
    background: none;
    border: 2px solid rgb(245, 105, 11);
    width: 40.5%;
    height: 100px;
    
}
#sumit{
    padding: 0.5% 5%;
    background-color: #FF1D6A;
    margin-left: 43%;
    margin-top: 2%;

}

 .info_end{
    padding-bottom: 5%;
    background-color: #191B20;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
#logo{
    padding-top: 30%;
    padding-left: 20%;

}
.phone{
    margin-left: 10%;
    display:inline-flex;
    margin-top: 3%;   

}
.mail{
    margin-left: 10%;
    display:inline-flex;
    margin-top: 3%;   

}
.button_info button{
    padding: 2%;
    margin: 1%;
    background: none;
    border: 2px solid white;
    color: white;
}
.menu_end_1{
    background-color: #FF1D6A;
    text-align: center;
}
.menu_end_1 li{
    display: inline-block;
    text-align: center;
    padding: 1%;
}
.menu_end_1 li a{
    text-decoration: none;
    color: #FFFFFF;
}
.button_info button:hover{
    background-color:#FF1D6A ;
}