*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: rgb(185, 182, 182);
    background-color: #272626;
    text-rendering: optimizeLegibility;
    display: grid;
    position: relative;
    height: 100%;
    width:  100%;
    /* mac dinh la 16px */
}
p{
    color: rgb(185, 182, 182);
    
font-size: 14px;
}
h1{
    color: aliceblue;
}
h2{
    color: aliceblue;
}
h3{
    color: aliceblue;
}
a{
    color: aliceblue;
}
/*--------*/
header {
    background-image:linear-gradient(45deg,rgba(36, 39, 46, 0.28) 75%,rgba(36, 39, 46, 0.28)), url("/img/bgr2.png");
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
  }
  .top{
      background:rgba(36, 39, 46, 0.86);
      width: 100%;
      height:auto;
  }
  .logo{
      margin-left: 10%;
      width: 10%;
      height: 10%;
  }
  .row0{
      float: right;
      list-style: none;
  }
  .row0 li{
      display: inline-block;
      margin-right: 5px;
      margin-left: 5px;
  }
  .row0 li a{
      text-decoration: none;
      color: antiquewhite;
      font-size: small;
  }
  .clearfix::after{
      content: " ";
      display: table;
      clear: both;
  }
  .row1{
      margin-top: 7%;
      margin-left: 50%;
      width: 50%;
      height: 50%;
      background-color:#292F39;
      color: aliceblue;
      padding: 5%;
  }
  .row1 h1{
      padding: 20px;
  }
  .row1 p{
      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 15px;
  }
  .btn{
      margin-bottom: 22px;
      padding: 2%;
      background-color: #FF1D6A ;
      font-size: small;
      color: seashell;
      margin-right: 20px;
  }
  .btn2{
    margin-bottom: 22px;
    padding: 0px;
    font-size: small;
    color: seashell;
  }
 .row2{
     margin-top: 5%;
     color: seashell;
     height: 30%;
     display: grid;
     grid-template-columns: 32% 20% 33% ;
     grid-gap: 100px;
    background-color: #181A1F;

 }
 .row2 p{
     font-size: small;
     padding: 10%;
     padding-left: 5%;
 }
 .row2 h3{
    padding-top: 5%;
    padding-left: 5%;
}
.row2 a{
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 5%;
    margin-right: 5%;
}
 .row3{
     width: 70%;
     background-image: linear-gradient(45deg,rgba(95, 196, 180, 0.75) 75%,rgba(95,196,180,0.75)), url("/img/bgr3.png");
     background-size: cover;
     padding: 0px;
     margin-left: 200px;

  }
  .row4{
    width: 120%;
    background-image: linear-gradient(45deg,rgba(148, 91, 159, 0.75) 75%,rgba(148, 91, 159, 0.75)), url("/img/bgr4.png");
    background-size: cover;
    padding: 0px;
    margin-left: 1%;
    
 }
 .row5{
    width: 75%;
    background-image: linear-gradient(45deg,rgba(142, 204, 59, 0.75) 75%,rgba(142, 204, 59, 0.75)), url("/img/bgr5.png");
    background-size: cover;
    padding: 0px;
    margin-left: 0px;
    
 }
  .btn3{
    margin-bottom: 2%;
    padding: 4%;
    background-color: #FF1D6A;
    font-size: small;
    color: seashell;
    margin-right: 20px;
}
.row6{
    margin-top: 0%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10%px;
    padding: 10%;
    grid-template-rows: 100%;
    background-color: #181A1F;
}
.row8{
    grid-template-columns: 100%;
    grid-template-rows: repeat(5, 20%);
    padding: 0px;
}
.row9{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 0px;
}
.row10{
    padding-top: 40px;
    text-align: center;
    background-color: #181A1F;
}
.row10 p{
    padding-top: 30px;
}
.row10 img{
    padding: 10px;
}
.about-setion-clasess{
    background-color: #181A1F;
    position: relative;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-top: 3%;
    
    padding-bottom: 4%;

}
.boxer{
    grid-column: span 1-of-3;
    position: relative;
}
.txt-boxer{
    height: 15%;
    width: 100%;
    text-align: center;
    font-size: medium;
    position: absolute;
    top: 85%;
    left: 0%;
    background-color: rgba(53, 50, 50, 0.5);
    padding-top:4% ;
    display: grid;
    grid-template-columns: 100%;

}
.txt-boxer a{
    text-decoration: none;
    font-size: medium;
}
.line{
    margin-left: 50%;
    transform: translate(-50%);
}

.txt-woman4{
    text-align: center;
    background: #FF1D6A;
    position: absolute;
    top: 0%;
    width: 75%;
    height: 80%;
    top :10%;
    left: 12%;
    padding-top: 10%;
    padding-left: 7%;
    padding-right: 7%;
}
.button-readmore{
    background-color: aliceblue;
    color: rgb(231, 127, 53);
    width: 100%;
    height: 15%;
    margin-top: 20px;
    border-radius: 15px;
}
.woman4{
    position: relative;
    grid-column: span 1-of-3;
}
.mucula{
    position: relative;
    grid-column: span 1-of-3;
}
.woman3{
    position: relative;
    grid-column: span 1-of-3;
}
.woman5{
    position: relative;
    grid-column: span 1-of-3;
}
.woman2{
    position: relative;
    grid-column: span 1-of-3;
}
.group3{
    background-color: rgba(48, 47, 47);
}
.out-trainer{
    background-color: #24272E;
    position: relative;
    text-align: center;;
    padding: 5%;
    padding-top: 5%;
}
.out-trainer p{
    padding: 5%;
}
.katlimine{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #24272E;
    
}
.katlimine-text{
    grid-column: span 1-of-2;
    padding-left: 7%;
    height: 50%;
}
.icon-katlimine{
    width: 30%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    text-align: center;
}
.katlimine-img{
    grid-column: span 1-of-2;
    position:relative;
}
#btn1{
    position: relative;
    background-color: #FF1D6A;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    top: -50%;
    margin-left: -85%;
}
#btn2{
    position: relative;
    background-color: #FF1D6A;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    top: -50%;
    right: -75%;
}
#slider_2{
    background-color: #24272E;
    margin: auto;
    padding: auto;
    position: relative;
    width: 1550px;
    padding-bottom :0%; 
    padding-top:4%; 
}
#slide_2 button{
    left: 10%;
    width: 10px;
}
.testmonials{
    background-color: #181A1F;
}
.testmonials hr{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 1%;
    background-color: #FF1D6A;
    border: 1px solid #FF1D6A;
}
#slider_3{
    text-align: center;
    position: relative;
    width: 1500px;
    height: 100%;
    padding-bottom:4%; 
    padding-top:4%; 
    margin: auto;
}
#slider_3 button{
    width: 650px;
}
.blog{
    
    padding-top: 2%;
    display: grid;
    grid-template-columns: 30% 80%;
    padding-left: 10%;
    padding-right: 10%;
    height: 80%;
    background-color: #24272E;
}
.blog_1{
    grid-column: span 1-of-2;
    padding: 3%;
}
#hr1{
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 1%;
    background-color: #FF1D6A;
    border: 1px solid #FF1D6A;
}
.icon_blog{
    display:inline-flex;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
}
.blog_1_1{
    background: #13191A;
    margin-right: 2%;
    margin-left: 2%;
    padding: 3%;
}
.blog_1_2{
    background: #13191A;
    margin: 2%;
    margin-top: 4%;
    padding: 3%;
}
.blog_2{
    position: relative;
    margin-top: 1%;
    grid-column: span 1-of-2;
    margin-right: 20%;
    background: #13191A;
}
.blog_2_1{
    background-color: #13191A;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 4%;
    padding-bottom: 7%;
}
.blog_2_1 p{
    size: 14;
}
.contact{
    padding: 7%;
    background-image: linear-gradient(45deg,rgba(25, 27, 32, 0.9) 55%,rgba(25, 27, 32, 0.9)), url("/img/Component\ 1\ –\ 12.png");
}
input[type=email]{
    padding: 5px 5px;
    background: none;
    border: 2px solid rgb(245, 105, 11);
    width: 20%;
    margin-left: 30%;
    
}
select{
    padding: 5px 5px;
    background: none;
    border: 2px solid rgb(245, 105, 11);
    width: 20%;
}
input[type=text]{
    margin-left: 30%;
    margin-top: 2%;
    padding: 5px 5px;
    background: none;
    border: 2px solid rgb(245, 105, 11);
    width: 40.5%;
    height: 100px;
    
}
#sumit{
    padding: 0.5% 5%;
    background-color: #FF1D6A;
    margin-left: 43%;
    margin-top: 2%;

}
.info{
    margin-top: 3%;
    text-align: center;
    size: 14px;
}
.icon_info{
   margin-top: 2%;
    margin-left: 40%;
    width: 20%;
}
.info_end{
    padding-bottom: 5%;
    background-color: #191B20;
    display: grid;
    grid-template-columns: 30% 30% 30%;
}
#logo{
    padding-top: 30%;
    padding-left: 20%;

}
.phone{
    margin-left: 10%;
    display:inline-flex;
    margin-top: 3%;   

}
.mail{
    margin-left: 10%;
    display:inline-flex;
    margin-top: 3%;   

}
.button_info button{
    padding: 2%;
    margin: 1%;
    background: none;
    border: 2px solid white;
    color: white;
}
.menu_end_1{
    background-color: #FF1D6A;
    text-align: center;
}
.menu_end_1 li{
    display: inline-block;
    text-align: center;
    padding: 1%;
}
.menu_end_1 li a{
    text-decoration: none;
}
#slider_2 .owl-item.active{
    width: auto;
    height: 100%;
    transform: scale(1);
    opacity: 0.4;
    border: 1px #FF6C2C;
    top: 25px;
    height: 400px;
}

#slider_2 .owl-item.active.center {
   /* height: 400px !important;*/
    transform: scale(1.2,1.2);
    opacity: 1;
    border: 1px #FF6C2C;
    overflow: hidden;
    box-shadow: 3px 3px 4px 4px #FF6C2C;
    height: 100%;
    width: 100%;
}